<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Demo ReactJs Ntthuat</title>
    <script crossorigin src="lib/react.development.js"></script>
    <script crossorigin src="lib/react-dom.development.js"></script>
    <script crossorigin src="lib/browser.min.js"></script>
</head>
<style>
    .yellow {
        background-color: yellow
    }
</style>
<body>
    <div id="root"></div>
    <script type="text/babel">
        ReactDOM.render(
        <div className="yellow">
            <h1>Thuat Nguyen</h1>
            <h1>Thuat Nguyen</h1>
        </div>
        , document.getElementById("root"));
    </script>
</body>
</html>
