<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Demo ReactJs Ntthuat</title>
    <script crossorigin src="lib/react.development.js"></script>
    <script crossorigin src="lib/react-dom.development.js"></script>
    <script crossorigin src="lib/browser.min.js"></script>
    <link rel="stylesheet" href="layout.css">
</head>
<style>
    .yellow {
        background-color: yellow
    }
</style>
<body>
    <div id="root"></div>
    <hr/>
    <div id="root2"></div>
    <hr/>
    <div id="exampleRoot1"></div>
    <hr/>
    <div id="exampleRoot2"></div>

    <script type="text/babel" src="handle.js"></script>
    <script type="text/babel" src="js/example1.js" ></script>
    <script type="text/babel" src="js/example2.js" ></script>
</body>
</html>
